@model IEnumerable<GrupaEka.Models.NewsCategory>
@using GrupaEka.Helpers
@{
    ViewBag.Title = "Zarządzanie kategoriami aktualności";
}

<p>
    @Html.ActionLink("Dodaj kategorie", "CategoryCreate")
</p>
<table class="manage">
    <tr>
        <th>Nazwa kategorii</th>
        <th>Opcje</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>@Html.ActionLink(item.Name, "CategoryDetails", new { id = item.ID })</td>
        <td>
            @Html.ActionLink("Edytuj", "CategoryEdit", new { id = item.ID }) |
            @Html.ActionLink("Usuń", "CategoryDelete", new { id = item.ID })
        </td>
    </tr>
}

</table>
