@model IEnumerable<GrupaEka.Models.NewsCategory>
@using GrupaEka.Helpers
@{
    ViewBag.Title = "Kategorie aktualności";
}

@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Dodaj kategorie", "CategoryCreate")
    </p>
}

<table class="manage">
    <tr>
        <th>Nazwa kategorii</th>
        @if (Request.IsAuthenticated)
        {
            <th>Opcje</th>
        }
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>@Html.ActionLink(item.Name, "CategoryDetails", new { id = item.ID })</td>
        @if (Request.IsAuthenticated)
        {
            <td>
                @Html.ActionLink("Edytuj", "CategoryEdit", new { id = item.ID }) |
                @Html.ActionLink("Usuń", "CategoryDelete", new { id = item.ID })
            </td>
        }
    </tr>
}

</table>
