@model GrupaEka.Models.NewsCategory

@{
    ViewBag.Title = "Usuwanie kategorii wiadomości";
}

<p>Jesteś pewien, że chcesz usunąć poniższą kategorie?</p>

<h2>@Model.Name</h2>
@if (Model.News.Count == 0)
{
    <p>Brak aktualności w tej kategorii.</p>
}
else
{
    <p>Aktualności znajdujące się w tej kategorii:</p>
    <ul>
        @foreach (var news in Model.News)
        {
            <li>@Html.ActionLink(news.Title, "Details", new { id = news.ID })</li>
        }
    </ul>
}

@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Usuń" /> |
        @Html.ActionLink("Powrót do listy kategorii", "CategoryIndex")
    </p>
}
