@model GrupaEka.Models.NewsCategory

@{
    ViewBag.Title = "Kategoria: " + Model.Name;
}
@if (Model.News.Count == 0)
{
    <p>Brak aktualności w tej kategorii.</p>
}
else
{
    <p>Aktualności znajdujące się w tej kategorii:</p>
    <ul>
        @foreach (var news in Model.News)
        {
            <li>@Html.ActionLink(news.Title, "Details", new { id = news.ID })</li>
        }
    </ul>
}
<p>
    @Html.ActionLink("Edytuj", "CategoryEdit", new { id = Model.ID }) |
    @Html.ActionLink("Usuń", "CategoryDelete", new { id = Model.ID }) |
    @Html.ActionLink("Powrót do listy kategorii", "CategoryIndex")
</p>
