@model GrupaEka.Models.News

@{
    ViewBag.Title = Model.Title;
}

@Html.Partial("_Details", Model)

<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Usuń", "Delete", new { id = Model.ID }) |
    @Html.ActionLink("Powrót do listy aktualności", "Index")
</p>
