@model GrupaEka.Models.Lecture

<h3>@Model.Author, @String.Format("{0:d} ({0:HH}:{0:mm})", Model.Date)</h3>
<div class="news-text">@Html.Raw(Model.Text)</div>
@if (Model.File != null)
{
    <p>
        Załącznik: <a href="../../Content/files/@Model.File">@Model.File</a>
    </p>
}