@model GrupaEka.Models.Lecture

@{
    ViewBag.Title = "Usuwanie prelekcji";
}

<p>Jesteś pewien, że chcesz usunąć poniższą prelekcję?</p>

<h2>@Model.Title</h2>

@Html.Partial("_Details", Model)

@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Usuń" /> |
        @Html.ActionLink("Powrót do listy prelekcji", "Index")
    </p>
}
