@model GrupaEka.Models.LogOnModel
           

@if(Request.IsAuthenticated) 
{
    <text>
    Jesteś zalogowany jako:<br /> 
    <b>@Html.ActionLink(Context.User.Identity.Name,"My","Profile",null,null)</b>
    [@Html.ActionLink("Wyloguj", "LogOff", "Account")]
    </text>
}

else 
{
    @*@using (Html.BeginForm()) 
    {*@
        <form action="/Account/LogOn" method="post">  
            Użytkownik: @Html.TextBoxFor(m => m.UserName)
            Hasło: @Html.PasswordFor(m => m.Password)
            <input type="submit" value="Zaloguj" /><br /> @Html.ActionLink("Zapomniałeś hasła?","ResetPassword")
        </form>
    @*}*@
}