@{
    ViewBag.Title = "Resetowanie hasła";
}

@using (Html.BeginForm()) {
    <fieldset>
        <legend>Wyślij link do zmiany hasła</legend>

        <div class="editor-label">
            Podaj e-mail:
        </div>
        <div class="editor-field">
            <input type="email" name="email" id="email" />
        </div>

        <p>
            <input type="submit" value="Wyślij" />
        </p>
    </fieldset>
}
