@{
    ViewBag.Title = "Inne";
}

<p>Kilka linków do ciekawych stron związanych z technologią .NET:</p>
<ul>
    <li>
        <a href="http://www.asp.net">asp.net</a> - oficjalna witryna poświęcona technologii ASP.NET
    </li>
    <li>
        <a href="http://www.hanselman.com">hanselman.com</a> - blog Scotta Hanselmana (jednego z bardziej znanych pracowników Microsoftu)
    </li>
    <li>
        <a href="http://http://weblogs.asp.net/scottgu/">weblogs.asp.net/scottgu/</a> - blog Scotta Guthrie (wiceprezesa Microsoftu zajmującego się głównie technologiami związanymi z .NET)
    </li>
</ul>
