@model GrupaEka.Models.Projects
@{
    ViewBag.Title = "Projekty - edycja";
}

<script src="@Url.Content("~/Scripts/tiny_mce/tiny_mce.js")" type="text/javascript"></script>
<script type="text/javascript">
    tinyMCE.init({
        mode: "specific_textareas",
        editor_selector: "TinyMCE",
        theme: "advanced"
    });
</script>


@using (Html.BeginForm("ProjectsEdit", "Home", FormMethod.Post))
{  
    <p>  
        @Html.TextAreaFor(model => Model.Content, new {@class = "TinyMCE"})
        
        <br />
        <input type="submit" value="Zapisz" id="save" /> | @Html.ActionLink("Anuluj edycję", "Projects")   
    </p>
}